.container {
  max-width: 1138px;
  margin: 0 auto;
}
body {
  font-family: TS-Reg, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}
header img {
  width: 250px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.success {
  color: green;
}

.error {
  color: red;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 15px;
  align-items: center;
}

header button {
  background-color: black;
  color: white;
  border-radius: 100px;
  padding: 15px;
}

header button:hover {
  color: white;
  background-color: rgb(198, 196, 196);
}

header li:hover {
  background-color: rgb(229, 224, 224);
}
header li {
  border-radius: 100px;
  padding: 15px;
  display: flex;
}

h1 {
  padding-top: 50px;
  font-size: 54px;
  font-weight: bold;
}

h1 span {
  color: #ff5d5d;
}

.carres {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.carres div {
  border: 1px solid black;
  /* Calc => 100% de la largeur du parent à laquelle on retire les 5 marges de 10px (entre les enfants) puis on divise le résultat par 6 parce qu'on veut 6 blocs */
  width: calc((100% - 50px) / 6);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.carrou {
  width: 1138px;
  display: flex;
  gap: 2px;
}
.carrou1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrou2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrou2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.underimg {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}
.descleft {
  width: 50%;
}
.descright {
  width: 40%;
}
.descright h3 {
  padding-top: 15px;
  padding-left: 15px;
}
.descright p {
  padding: 15px;
}
.descright button {
  margin-left: 40px;
  margin-bottom: 30px;
}
.descright img {
  width: 100%;
  height: 250px;
}
.descright1 {
  background-color: #ff5d5d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.descleft h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}
.descright button {
  color: white;
  background-color: black;
  height: 50px;
  width: 150px;
  border-radius: 50px;
}
.descright button:hover {
  background-color: grey;
  color: white;
}
.descleft {
  font-size: 20px;
  line-height: 25px;
}
.descright h3 {
  font-size: 28px;
}
.carres div:hover {
  background-color: black;
  color: white;
}
.carroussel img {
  height: 230px;
  width: 300px;
  object-fit: cover;
}
.carroussel {
  display: flex;
  align-content: center;
  overflow: scroll;
  gap: 10px;
}
.grocarou {
  width: 1138px;
  margin: 0 auto;
  display: flex;
}
.precarou {
  width: 400px;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.grocarou h3 {
  font-size: 24px;
  padding-bottom: 15px;
  font-weight: bold;
}
.grocarou p {
  font-size: 18px;

  line-height: 20px;
}
.spa {
  padding-top: 30px;
  text-decoration: underline;
}
.carroussel > div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.carroussel i {
  padding: 10px 10px;
  background-color: white;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.carrou1 i {
  padding: 10px 10px;
  background-color: white;
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.carroussel::-webkit-scrollbar {
  display: none;
}
footer {
  background-color: #faf1ed;
  padding: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: green;
}
.green {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
footer img {
  width: 30px;
  height: 30px;
}
.grocarou {
  margin-bottom: 20px;
}

.carres .exclu {
  display: none;
}
.burger {
  display: none;
}
.cart {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1184px) {
  .container {
    width: 95%;
  }
  .carres .exclu {
    display: block;
  }
  .carres {
    flex-wrap: wrap;
  }
  .carres div {
    flex-basis: 21%;
  }
  .carrou {
    width: 100%;
  }

  .burger {
    display: none;
  }
  .cart {
    display: none;
  }
  .grocarou {
    max-width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    width: 95%;
  }
  header p {
    display: none;
  }
  .carrou {
    width: 100%;
  }
  .burger {
    display: none;
  }
  .cart {
    display: none;
  }
  .grocarou {
    max-width: 100%;
  }
  .carres div {
    width: 100%;
  }
  .carres div i {
    margin-left: 6px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .carrou {
    width: 100%;
  }
  .carrou1 {
    width: 100%;
  }
  .carrou2 {
    display: none;
  }
  .tete {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
  }
  .cart {
    display: flex;
    align-items: center;
  }
  .grocarou {
    display: flex;
    flex-direction: column;
  }
  .grocarou {
    max-width: 100%;
  }
  .carroussel img {
    height: 500px;
    width: 500px;
  }
  .carres {
    overflow: scroll;
    padding-bottom: 5px;
  }
  .carres::-webkit-scrollbar {
    display: none;
  }
  .description {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .descleft {
    width: 100%;
  }
  .descright {
    width: 80%;
  }
  .carres div {
    width: 100%;
  }
  .carres div i {
    margin-left: 6px;
  }
  header img {
    height: 40px;
  }
}
